# SPDX-License-Identifier: GPL-2.0-only
source "drivers/power/reset/Kconfig"
source "drivers/power/supply/Kconfig"

#ifdef OPLUS_FEATURE_CHG_BASIC
menuconfig OPLUS_CHARGER
	bool "OPLUS charging system"
	depends on I2C
	select REGMAP_I2C
	help
	  Say Y here to enable OPLUS charging system support

config OPLUS_CHG
	tristate "OPLUS CHARGER KO module"
	default m
	help
	  Enables support for the oplus charging framework

config OPLUS_SM8450_CHARGER
	bool "OPLUS SM8350 charger driver"
	help
	  Enables support for the sm8350 charging

config OPLUS_SHORT_C_BATT_CHECK
	bool "OPLUS_SHORT_C_BATT CHECK SUPPORT"
	default n
	help
	  Say Y to include support

config OPLUS_CALL_MODE_SUPPORT
	bool "OPLUS call mode support"
	help
	  Say Y to include support

config OPLUS_SMART_CHARGER_SUPPORT
	bool "OPLUS smart charger support"
	help
	  Say Y to include support

config OPLUS_SHORT_HW_CHECK
	bool "OPLUS_SHORT_HW CHECK SUPPORT"
	default n
	help
	  Say Y to include support

config OPLUS_CHIP_SOC_NODE
	bool "OPLUS chip soc node"
	help
	  Say Y to include support

config OPLUS_SHORT_IC_CHECK
	bool "OPLUS_SHORT_IC CHECK SUPPORT"
	default n
	help
	  Say Y to include support

config OPLUS_SHORT_USERSPACE
	bool "OPLUS batt userspace"
	help
	 Say Y to include support

config OPLUS_RTC_DET_SUPPORT
	bool "OPLUS RTC DET SUPPORT"
	default n
	help
	  Say Y to include support

config OPLUS_CHECK_CHARGERID_VOLT
	bool "OPLUS CHECK CHARGERID VOLT"
	default n
	help
	  Say Y to include support

config OPLUS_SHIP_MODE_SUPPORT
	bool "OPLUS_SHIP_MODE_SUPPORT"
	default n
	help
	  Say Y to include support

config OPLUS_CHG_DYNAMIC_CONFIG
	bool "OPLUS_CHG_DYNAMIC_CONFIG"
	default n
	help
	  Say Y to include support
source "drivers/power/oplus/Kconfig"

menuconfig OPLUS_CHG_V2
	tristate "OPLUS charging V2 system"
	default n
	depends on I2C
	select REGMAP_I2C
	help
	  Say Y here to enable OPLUS charging V2 system support

config OPLUS_ADSP_CHARGER
        bool "ADSP support"
        help
          Say Y here to declare ADSP support

config OPLUS_CHG_IC_DEBUG
        bool "Virtual IC layer debug interface"
        help
          Say Y here to declare virtual IC layer debug interface

config OPLUS_CHG_MMS_DEBUG
        bool "Message subscription layer debug interface"
        help
          Say Y here to declare message subscription layer debug interface

config OPLUS_DA9313_CHARGER
        bool "DA9313 support"
        help
          Say Y here to declare DA9313 support

config OPLUS_MP2762_CHARGER
        bool "MP2762 support"
        help
          Say Y here to declare MP2762 support

config OPLUS_SGM41512_CHARGER
        bool "SGM41512 support"
        help
          Say Y here to declare SGM41512 support

config OPLUS_PD_MANAGER_CHARGER
        bool "PD_MANAGER support"
        help
          Say Y here to declare PD_MANAGER support
#endif
